@text: rgb(0, 0, 0);
@link-color: #428bca; // sea blue
@link-color-hover: darken(@link-color, 10%);

@font-face {
  font-family: 'RobotoMono';
  src: url("./assets/RobotoMono-VariableFont_wght.ttf");
}

:root {
  font-family: RobotoMono, monospace;

  color: @text;
  background-image: url("./assets/background.jpg");
  background-size: 40%;
  background-position: center;
  background-repeat: repeat;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol,
menu {
  list-style: none;
}

a {
  text-decoration: none;
  color: @link-color;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    color: @link-color-hover;
  }
}

.game-card {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em;
  margin: 1em auto;
  background-color: rgba(255, 255, 255, 0.9);
  flex-shrink: 0;
  max-width: 300px;
  max-height: 500px;
  z-index: 1000;

  @media (max-width: 1200px) {
    max-width: 100%;
  }
}


.game-text {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  font-size: 15px;
  margin: 0 auto;
  font-weight: bold;
}

.gamecard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;

  @media (max-width: 1200px) {
    justify-content: center;
  }

  @media (max-width: 500px) {
    min-width: 100%;
  }
}

.search {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-evenly;
  gap: 40px 20px;
  width: 100%;
  border-radius: 3%;
  flex-shrink: 0;
  max-width: 1500px;
  max-height: 2000px;
  margin-top: 0 auto;
}

.text-card {
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1000;
  width: 40%;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  flex-wrap: wrap;
  border-radius: 3%;
  margin-top: 0;
  min-width: 350px;
}

h1 {
  font-size: 30px;
}

h5 {
  font-size: 25px;
}

h6 {
  font-size: 14px;
}

.search-bar {
  width: 200px;
  margin-left: auto;
  display: block;
  padding: 0.5em;
}

.games {
  margin: 0 auto;
}

.authForm {
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  width: 50%;
  margin: 0 auto;
  margin-top: 100px;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1000;
  max-width: 1200px;
  min-width: 500px;

  @media (max-width: 1200px) {
    justify-content: center;
  }

  @media (max-width: 500px) {
    min-width: 100%;
  }
}

label {
  font-weight: bold;
  padding: 1%;
}

input {
  font-family: RobotoMono, monospace;
}

.game-details {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em;
  margin: 1em auto;
  background-color: rgba(255, 255, 255, 0.9);
  flex-shrink: 0;
  max-width: 80%;
  z-index: 1000;

  @media (max-width: 1200px) {
    max-width: 100%;
  }
}



.profile-header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 1em auto;
  background-color: rgba(255, 255, 255, 0.9);
  flex-shrink: 0;
  z-index: 1000;
  font-size: 2rem;
  width: 80%;

  @media (max-width: 412px) {
    font-size: 1rem;
    min-width: 100%;
  }
}

.add-game-form {
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  width: 60%;
  margin: 0 auto;
  max-width: 1200px;
  min-width: 500px;

  @media (max-width: 500px) {
    min-width: 100%;
  }
}

.autocomplete {
  margin-top: 1%;
  min-width: 50%;
  background-color: rgba(255, 255, 255, 0.9);
}

.details-game-image {
  max-width: 100%;
}

.game-image {
  max-width: 10rem;
}